html,body {
    margin: 0;
    padding: 0;
    font-family: 'Inconsolata', monospace;
}

header {
    width:100%;
    display: block;
    background-color:black;
    margin:0;
    padding:0;
    color:white;
    font-size: 15px;
    position:fixed;
    top:0;
    transition-timing-function: linear;// przejscie z jednakowa predkoscia od poczatku do konca
	transition-duration: 200ms;	// czas trwania przejscia
	transition-property: all;
}


.gora {
    width:70%;
    background-color: black;
    height:40px;
  flex-direction: row;
margin:auto;
    border-bottom:1px solid grey;
}

nav {
    height:60px;
    background-color:black;
    width:70%;
    margin:auto;
    transition-timing-function: linear;// przejscie z jednakowa predkoscia od poczatku do konca
	transition-duration: 200ms;	// czas trwania przejscia
	transition-property: all;
}

.lewa {
    float:left;
    line-height: 40px;
}

.prawa {
    float:right;
    line-height:40px;
}

.prawa li {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.prawa a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 900;
    padding: 20px 0px 40px 0px;
}

.prawa a:hover {
    color:grey;
    transition-duration: 0.2s;
}

nav li {
    
    display: inline;
    line-height: 50px;
    margin-right:2%;
}

nav.small li {
    display: inline;
    line-height: 50px;
    margin-right:2%;
}

.small {
    height:50px;
    position:fixed;
    top:0;
    width:100%;
    padding-left:15%;
    padding-right:15%;
    
}

nav a {
    text-decoration: none;
    color:white;
    display: inline;
    text-transform: uppercase;
    
    font-weight: 500;
    padding: 20px 0px 40px 0px;

}

nav.small a {
    padding: 0px 0px 20px 0px;// maja miec mniejszy padding
  font-size: 12px;// mniejsza czcionke
  font-weight: 100;// oraz nie beda pogrubione
}

nav ul {
    float: left;
    width:100%;
    display:inline;   
}
nav img {
    margin-right:2%;
}

.lewa2 {
    float: left;
    height: 100%;
    width:20%;
}

.prawa2 {
    float: left;
    height: 100%;
    width:80%;
    line-height: 60px;
}

.container {
background-image: url('../grafika/drzewa.jpg');
    width:100%;
    background-repeat: no-repeat;
  background-size: 100% 100%;

}

.zdjecie {
    margin:auto;
    width:30%;
    height: 800px;

}

.zdjecie img {
margin:auto;
width:100%;
margin-top:200px;
}

.container2 {
    margin-top:70px;
    width:100%;
    text-align: center;
    color:#565656
}

h1,h2{
    margin: 0;
    padding: 0;
}

 h2 {
    margin-top:10px;
font-style: italic;
margin-bottom:70px;
}

h1 {
    font-size:46px;
}

.koniec {
    width:100%;
    height:600px;
}

.prawa_koniec {
    width:50%;
    float:left;
    height:600px;
}

.prawa_koniec img {
    width:100%;
    height:100%;
}

.lewa_koniec {
    background-color: #3A3A3A;
    height:600px;
    color:White;
    width:50%;
    float:left;
}

.lewa_koniec section {
    width:50%;
    margin:auto;
    margin-top:140px;
    font-family:
}

section h2, h6 {
    margin: 0;
    padding: 0;
}

section h6 {
    margin-bottom:10px;
    font-style: italic;
    color:#DEDEDE;

}

section h2 {
    font-size: 35px;
    font-style: normal;
    margin-bottom:15px;
}

section hr {
    border:2px dotted white;

}

section p {
    margin-top:45px;
    font-size:15px;
    margin-bottom:40px;
}

section button {
    height:45px;
    width:25%;
    background-color: #3A3A3A;
    border:1px solid white;
    color:white;
    font-weight:bold;
}

section button:hover {
    color:black;
    background-color: #DEDEDE;
    border:1px solid #DEDEDE;
    transition-duration: 0.6s;
    
}

